# Flask
FLASK_APP=run.py
FLASK_DEBUG=1
FLASK_ENV=development
SECRET_KEY=change-this-to-a-random-secret-key

# PostgreSQL
POSTGRES_DB=railops_nusantara
POSTGRES_USER=railops
POSTGRES_PASSWORD=railops_secret
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg2://railops:railops_secret@postgres:5432/railops_nusantara

# AWS / LocalStack
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SESSION_TOKEN=test
AWS_DEFAULT_REGION=ap-southeast-1
AWS_REGION=ap-southeast-1
AWS_ENDPOINT_URL=http://localstack:4566

# S3
S3_BUCKET_NAME=railops-bucket

# EC2
EC2_IMAGE_ID=ami-00000000

# Upload
MAX_CONTENT_LENGTH=16777216
