<aside class="ro-sidebar" id="roSidebar">
    <div class="ro-sidebar-brand">
        <div class="ro-sidebar-brand-icon"><i class="bi bi-train-front-fill"></i></div>
        <div class="ro-sidebar-brand-text">RailOps Nusantara<br><small>Railway Operations</small></div>
    </div>
    {% if current_user.is_authenticated %}
    <div class="ro-sidebar-user">
        <div class="ro-sidebar-avatar">{{ current_user.full_name[:2]|upper }}</div>
        <div class="ro-sidebar-user-info">
            <div class="ro-sidebar-user-name">{{ current_user.full_name }}</div>
            <div class="ro-sidebar-user-role">{{ current_user.get_role_display() }}</div>
        </div>
    </div>
    {% endif %}
    <nav class="ro-sidebar-group">
        <div class="ro-sidebar-group-title">Operations</div>
        <a href="{{ url_for('main.dashboard') }}" class="ro-sidebar-link"><i class="bi bi-grid-1x2"></i> Dashboard</a>
        <a href="{{ url_for('trains.index') }}" class="ro-sidebar-link"><i class="bi bi-train-front"></i> Kereta</a>
        <a href="{{ url_for('stations.index') }}" class="ro-sidebar-link"><i class="bi bi-geo-alt"></i> Stasiun</a>
        <a href="{{ url_for('trips.index') }}" class="ro-sidebar-link"><i class="bi bi-signpost-2"></i> Jadwal</a>
        <a href="{{ url_for('trips.monitoring') }}" class="ro-sidebar-link"><i class="bi bi-activity"></i> Monitoring</a>
    </nav>
    <nav class="ro-sidebar-group">
        <div class="ro-sidebar-group-title">Incidents</div>
        <a href="{{ url_for('incidents.index') }}" class="ro-sidebar-link"><i class="bi bi-exclamation-triangle"></i> Gangguan</a>
        <a href="{{ url_for('ec2.audit_logs') }}" class="ro-sidebar-link"><i class="bi bi-journal-text"></i> Audit Log</a>
    </nav>
    <nav class="ro-sidebar-group">
        <div class="ro-sidebar-group-title">Cloud</div>
        <a href="{{ url_for('documents.index') }}" class="ro-sidebar-link"><i class="bi bi-cloud-arrow-up"></i> S3 Documents</a>
        <a href="{{ url_for('ec2.index') }}" class="ro-sidebar-link"><i class="bi bi-hdd-rack"></i> EC2 Infrastructure</a>
    </nav>
    <nav class="ro-sidebar-group">
        <div class="ro-sidebar-group-title">Reports</div>
        <a href="{{ url_for('reports.index') }}" class="ro-sidebar-link"><i class="bi bi-bar-chart-line"></i> Laporan</a>
    </nav>
    <nav class="ro-sidebar-group">
        <div class="ro-sidebar-group-title">System</div>
        <a href="{{ url_for('users.index') }}" class="ro-sidebar-link"><i class="bi bi-people"></i> Pengguna</a>
        <a href="{{ url_for('profile.index') }}" class="ro-sidebar-link"><i class="bi bi-person-circle"></i> Profil</a>
        <a href="#" class="ro-sidebar-link"><i class="bi bi-gear"></i> Pengaturan</a>
    </nav>
</aside>
